*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
  --black: #070707;
  --oxford-blue: #14213dff;
  --platinum: #e5e5e5ff;
	--mako-green: hsl(164, 65%,49%);
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--oxford-blue);
}
h1 {
	font-size: 3.6rem;
	font-family: "Oxygen", sans-serif;
	font-weight: 500;
}
button, input {
	outline: none;
	border: none;
}
a {
	text-decoration: none;
	color: var(--mako-green);
	transition: all 0.2s ease-in-out;
}
a:hover {
	color: hsl(164, 65%, 61%)
}
input {
	width: 100%;
	font-size: inherit;
	font-weight: 300;
	padding: 0.5rem 0;
	border-bottom: 1px solid var(--oxford-blue);
}
input::placeholder {
	color: hsl(0, 0%, 75%);
}
input:focus {
	border-bottom: 1px solid var(--mako-green);
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	gap: 1.5rem;
	line-height: 1.5;
	padding: 1.5rem 2rem;
	font-weight: 300;
}
.header {
	max-width: 600px;
	margin: 0 auto 1rem;
}
.sketch div {
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	background-color: var(--oxford-blue);
	color: var(--platinum);
	padding: 1rem 1.5rem;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	transition: all 0.2s ease-in-out;
}

.btn:hover, .btn:focus {
	background-color: hsl(221, 51%, 26%);
}

.generate {
	margin-left: 1rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.navigation .btn {
  min-width: 7rem;
  max-width: 7rem;
}

footer {
	font-weight: 400;
	font-size: 0.9rem;
}

@media only screen and (max-width: 48em ) {
	input {
		width: 100%;
	}

	canvas {
		margin: 1rem;
	}

	.sketch div {
		flex-direction: column;
	}

	.generate {
		margin-top: 0.5rem;
		margin-left: 0;
	}
	
	.btn, .navigation .btn {
		min-width: 90vw;
		height: 4rem;
	}
	.navigation .btn {
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	}

	.reverse {
		margin: 1rem 0;
	}
}